# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Prisma / DBs
*.db
*.db-journal

# Test + coverage
coverage/
.nyc_output/

# Turbo
.turbo/

# Vercel
.vercel

# docs
docs/

#claude
.claude/